<div class="header-container navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="title-container">
        <h1 [routerLink]="['/', 'home']">Your Authentication Service</h1>
    </div>
    <div class="sub-tabs">
        <ul *ngIf="!loggedIn">
            <li [routerLink]="['/', 'auth']">Log In</li>
            <button [routerLink]="['/', 'auth']" class="btn btn-light">Sign Up</button>
        </ul>
        <div *ngIf="loggedIn" class="sign-out-btn-container">
            <p>Hello, {{ currentUser.first_name }}!</p>
            <button (click)="signOut()" class="btn btn-light">Sign Out</button>
        </div>
    </div>
</div>