.form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 50px;
    form{
        background-color: #4e5153;
        width: 50%;
        padding: 25px;
        border-bottom: 0px 5px 0px 5px;
        .email-container{
            text-align: center;
            margin: 20px;
            h6{
                margin: 20px;
            }
            button{
                margin: 20px;
            }
        }
    }
}